{{#if message}}
    <div class="alert alert-danger messagebox" role="alert">
        <center>
            <h3>{{message}}</h3>
        </center>
    </div>
{{/if}}

<div class="row">
  <button class="btn btn-light">
      <a href="/post">✉ New Post</a>
  </button>
</div>
  <br/>
  <br/>


{{#each posts as |post| }}
<div class="row postheader">
    <div class="col-sm-6">
        <h4>Subject</h4>
    </div>
    <div class="col-sm-3">
        <h4>Email</h4>
    </div>
    <div class="col-sm-3">
        <h4>Date</h4>
    </div>  
</div>
<div class="row postheader">
    <div class="col-sm-6">
      <a href="/post/{{post.id}}">{{post.subject}}</a>        
    </div>
    <div class="col-sm-3">
        {{post.email}}
    </div>
    <div class="col-sm-3">
        {{format_date post.date}}
    </div>
</div>

<div class="row post">
  <div class="col-md-12">
    <h3>{{post.subject}}</h3>
    <p>{{post.message}}</p>
    </div>
  {{!-- display each comment in a div with the class of "comments" --}}
  
    {{#each post.comments as |comment|}}
    <div class="commentBox">
      <p>{{comment.email}}  {{format_date comment.date}}</p>
      <p>{{comment.comment}}</p>
      {{#ifEquals comment.email user.email}}
        <button class="delete-comment" data-comment-id={{comment.id}}>Delete</button>
        {{/ifEquals}}
        </div>
    {{/each}}
    
    
</div>





{{/each}}
